# Web Framework & API
Flask
Flask-Session==0.8.0
Django==4.2.3
djangorestframework==3.14.0
django-cors-headers==4.4.0
fastapi==0.115.6
gunicorn

# Database & Cloud Storage
pymongo==4.11.1
boto3

# Machine Learning & AI
google-generativeai==0.8.4
google-ai-generativelanguage==0.6.15
huggingface_hub
diffusers
gensim
imbalanced-learn
tensorflow==2.18.0
torch==2.0.1
torchvision==0.15.2
opencv-python==4.5.5.64

# Data Handling & Analysis
pandas==2.2.3
numpy
scipy==1.11.4
openpyxl
et-xmlfile==1.1.0
scikit-learn
seaborn
matplotlib
statsmodels

# Security & Authentication
bcrypt
cryptography
google-auth

# Others (Utilities)
python-dotenv
requests
uvicorn==0.34.0
Werkzeug
tqdm
